<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.programmers_keyboard</string>
	<key>CFBundleName</key>
	<string>Programmers_keyboard</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_U.S. for programmers</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.programmers_keyboard.u.s.forprogrammers</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Русская для программистов</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.programmers_keyboard.русскаядляпрограммистов</string>
		<key>TISIntendedLanguage</key>
		<string>ru-RU</string>
	</dict>
</dict>
</plist>
